# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv*/

# Environnements
.env
.env.*

# VS Code
.vscode/

# Tests / coverage
.pytest_cache/
.coverage

# Docker
*.log
docker-compose.override.yml

# Mac / Windows
.DS_Store
Thumbs.db
TREE.md
compose/**/.env